## mako

<%page expression_filter="h"/>

<%namespace name='static' file='../static_content.html'/>
<%namespace file='../main.html' import="login_query"/>

<%!
from django.urls import reverse
from django.utils.translation import ugettext as _
from six import text_type
from openedx.core.djangoapps.site_configuration import helpers as configuration_helpers
%>

<%
  # Instead of assuming a fixed provider, this approach allows for other auth backends to be used (once specified in configs)
  # When custom authentication is disabled, there could be multiple third party authentication providers specified.
  # However, for single login purposes, we only need one. These parameters specified the preferred one.
  enable_custom_auth = configuration_helpers.get_value('ENABLE_CUSTOM_AUTH', settings.FEATURES.get('ENABLE_CUSTOM_AUTH', True))
  preferred_third_party_auth_login_text = configuration_helpers.get_value('PREFERRED_THIRD_PARTY_AUTH_LOGIN_TEXT', 'Sign in')
  preferred_third_party_auth_login_url = configuration_helpers.get_value('PREFERRED_THIRD_PARTY_AUTH_LOGIN_URL')
  
  mktg_site_enabled = static.get_value('ENABLE_MKTG_SITE', settings.FEATURES.get('ENABLE_MKTG_SITE', False))
  courses_are_browsable = settings.FEATURES.get('COURSES_ARE_BROWSABLE')
  allows_login = not settings.FEATURES['DISABLE_LOGIN_BUTTON']
  can_discover_courses = settings.FEATURES.get('ENABLE_COURSE_DISCOVERY')
  restrict_enroll_for_course = course and settings.FEATURES.get('RESTRICT_ENROLL_BY_REG_METHOD') and course.enrollment_domain
  allow_public_account_creation = static.get_value('ALLOW_PUBLIC_ACCOUNT_CREATION', settings.FEATURES.get('ALLOW_PUBLIC_ACCOUNT_CREATION'))
%>
<nav class="nav-links" aria-label=${_("Supplemental Links")}>
  <div class="main">
  % if mktg_site_enabled:
    <div class="mobile-nav-item hidden-mobile nav-item">
      <a href="${marketing_link('HOW_IT_WORKS')}">${_("How it Works")}</a>
    </div>
    % if courses_are_browsable:
      <div class="mobile-nav-item hidden-mobile nav-item">
        <a href="${marketing_link('COURSES')}">${_("Courses")}</a>
      </div>
    % endif
    <div class="mobile-nav-item hidden-mobile nav-item">
      <a href="${marketing_link('SCHOOLS')}">${_("Schools")}</a>
    </div>
  % endif
  % if allows_login:
    % if can_discover_courses:
      <div class="mobile-nav-item hidden-mobile nav-item">
        <a href="/courses">${_('Explore courses')}</a>
      </div>
    %endif
  % endif
  </div>
  <div class="secondary">
    <div>
      % if allows_login and enable_custom_auth:
        % if restrict_enroll_for_course:
          <div class="mobile-nav-item hidden-mobile nav-item">
            <a class="register-btn" href="${reverse('course-specific-register', args=[text_type(course.id)])}">${_("Register Now")}</a>
          </div>
          <div class="mobile-nav-item hidden-mobile nav-item">
            <a class="sign-in-btn" href="${reverse('course-specific-login', args=[text_type(course.id)])}${login_query()}">${_("Sign in")}</a>
          </div>
        % else:
          % if allow_public_account_creation:
            <div class="mobile-nav-item hidden-mobile nav-item">
              <a class="register-btn" href="/register${login_query()}">${_("Register Now")}</a>
            </div>
          % endif
          <div class="mobile-nav-item hidden-mobile nav-item">
            <a class="sign-in-btn" href="/login${login_query()}">${_("Sign in")}</a>
          </div>
        % endif
      % elif not enable_custom_auth:
          <div class="mobile-nav-item hidden-mobile nav-item">
              <a class="sign-in-btn" href="${preferred_third_party_auth_login_url}">${_(preferred_third_party_auth_login_text)}</a>
          </div>
      % endif
    </div>
  </div>
</nav>
