// UI - skipnav
.nav-skip,
.transcript-skip {
  @extend %ui-print-excluded;

  display: inline-block;
  position: absolute;
  left: 0;
  top: -($baseline*30);
  overflow: hidden;
  background: $white;
  border-bottom: 1px solid $border-color-4;
  padding: ($baseline*0.75) 0;

  &:focus,
  &:active {
    @include left(0%);
    @include margin-left(-1 * $baseline * 1.5);

    position: relative;
    top: auto;
    width: 10%;
    height: auto;
    background-color: white;
    margin: 1px;
    opacity: 0.8;
    color: #065683 !important;
    text-decoration: underline;
    outline: 1px dashed #065683;
    text-align: center;


    // Responsive styling for mobile
    @include media-breakpoint-down(md) {
      @include left(40%);

      width: 20%;
    }
  }
}
