<%page expression_filter="h"/>
<%namespace name='static' file='../static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from openedx.core.djangolib.markup import HTML, Text
%>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Page Not Found")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="outside-app">
    <h1>${_("Page not found")}</h1>
    <p>${Text(_('The page that you were looking for was not found. Please contact {link_start}support{link_end} and let us know.')).format(
        link_start=HTML('<a href="/faq">'),
        link_end=HTML('</a>')
      )}</p>
    </section>
</main>
