<%! from django.utils.translation import ugettext as _ %>
${self.body()}
<%block name="footer">
----
${_("CloudSwyft respects your privacy. If there are any security issues please contact us and you may access our corporate website: {privacy_statement}").format(privacy_statement=u"https://cloudswyft.com")}

${_("This is a mandatory service communication. To set your contact preferences for other communications, visit our corporate website and contact us: {promotional}").format(promotional=u"https://cloudswyft.com")}

${_("CloudSwyft Global Systems, Inc.")}
${_("5th Level Paseo Center Building")}
${_("Paseo De Roxas, Makati City Philippines")}
</%block>
